#root {
 
  margin: 0 auto;
  padding: 2rem;
  
}

.color{
  color: chocolate;
}
.body{
  background-color:antiquewhite;
  /* margin: 20px; */
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width:600px) {
  #root {
    padding: 0rem;
    
  }
}